*.o
build
.DS_Store
.local/
setting.xml
ameba_pro1_sdk/.DS_Store
ameba_pro1_sdk/sdk-ameba-v5.2g_gcc/
ameba_pro1_sdk/overlay/**/*.o
ameba_pro1_sdk/overlay/**/*.d
ameba_pro1_sdk/overlay/**/*.su
ameba_pro1_sdk/overlay/**/*.i
ameba_pro1_sdk/overlay/**/*.s
