*.o
build
.DS_Store
htdocs/version.txt
htdocs/web_ver.html
htdocs_video_only.zip
.local/
ameba_pro1_sdk/.DS_Store
ameba_pro1_sdk/sdk-ameba-v5.2g_gcc/
ameba_pro1_sdk/overlay/**/*.o
ameba_pro1_sdk/overlay/**/*.d
ameba_pro1_sdk/overlay/**/*.su
ameba_pro1_sdk/overlay/**/*.i
ameba_pro1_sdk/overlay/**/*.s
ws_server/src/base64.d
ws_server/src/base64.su
ws_server/src/base64.i
ws_server/src/base64.s
ws_server/src/crypto_stream.d
ws_server/src/crypto_stream.su
ws_server/src/crypto_stream.i
ws_server/src/crypto_stream.s
ws_server/src/gateway_proto.d
ws_server/src/gateway_proto.su
ws_server/src/gateway_proto.i
ws_server/src/gateway_proto.s
ws_server/third_party/chacha/chacha.d
ws_server/third_party/chacha/chacha.su
ws_server/third_party/chacha/chacha.i
ws_server/third_party/chacha/chacha.s
